ul#user-profiles-element-list {
    list-style: none;
    padding: 0;
    margin-top: 0;
}

.add-new + .drawer-contents label {
    display: inline-block;
    font-weight: normal;
}

#add-element {
    display: block;
    width: auto;
}