/* CSS borrowed from admin theme */


.field label {
  clear: left;
  float: left;
  font-weight: bold;
  line-height: 1.5em;
  margin: 0 0 10px;
  min-width: 120px;
}

.field input[type='submit'] {
    display:block;
}

#section-nav, #section-nav ul {
  list-style-type: none;
  margin: -20px 0 16px;
  padding: 0;
}

#section-nav li {
    display: inline-block;
}

#section-nav li.active {
    font-weight: bold;
}

.inputs .input-block {
  margin: 0 0 20px;
}

.input-block {
    overflow:auto;

}

.inputs textarea {
    -moz-box-sizing: border-box;
    width: 100%;
}
textarea {
    -moz-box-sizing: border-box;
    border: 1px solid #D8D8D8;
    border-radius: 0 0 0 0;
    box-shadow: 0 0 0.375em #D6D6D6 inset;
    color: #666666;
    font-size: 14px;
    padding: 5px 10px;
    width: 100%;
}

