div.user-profiles-profile {
    clear: both;
}

div.element {
    clear:both;
}

div.field {
    clear: both;
}

div.element-text {
    margin-top: 0px;	
}

div.element-text > p {
    margin-top: 0px;
}

div.container-twelve div.ten.columns {
    width: 100%;
}

div.container-twelve div.five.columns {
    width: auto;
}

/* Seasons override */

div#primary {
    box-shadow: none;
    border: none;
}

