div.user-profiles-profile {
    clear: both;
}

div.element {
    clear:both;
}

div.field {
    clear: both;
}

div.element-text {
    margin-top: 0px;
}

div.element-text > p {
    margin-top: 0px;
}

div.container-twelve div.ten.columns {
    width: 100%;
}

div.container-twelve div.five.columns {
    width: auto;
}

div#primary {
    box-shadow: none;
    border: none;
}

#section-nav, #section-nav ul {
    margin: 0 0 16px;
}


div.container-twelve div.ten.columns {width: 100%;}
 ul#section-nav {margin: 0px;}
 div.container-twelve div.five.columns {width: auto; float: left;}
 div.inputs.five.columns.omega {float: left;}
 button.user-profiles.add-element {display: block; clear: both;}
 a.delete-confirm {padding: .6em; background-color: #ad6345; color: white !important;}
 ul.user-profiles.navigation {padding-left: 0px; list-style: none}
 ul.user-profiles.navigation li {margin-right: 5px; display: inline-block;}

 ul.user-profiles.navigation ul {padding-left: 0px; list-style: none;}
 input[type='checkbox'] {margin: 5px;}

.mce-tinymce button {
    background: none;
    margin: 0;
    text-transform: none;
}

.mce-tinymce [aria-haspopup='true']:after {
    content: none;
}

p.warning {clear: both;}

a.big.button.user-profiles {
    color: inherit;
}

.user-profiles input.remove-element {
    float: left;
}

.user-profiles label {
    margin-left: 5px;
}